.nav {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLogo img {
  width: 50px;
  height: 50px;
}
.navPages {
  display: flex;
}
.navPage {
  font-weight: 700;
  color: #3f3f3f;
  font-size: 14px;
  padding: 0 2rem;
}
.linkRouterText a:link{
  text-decoration: none;
}
.linkRouterText a:visited{
  text-decoration: none;
}
.linkRouterText a:hover{
  text-decoration: none;
}
.linkRouterText a:active {
  text-decoration: none;
}
.linkRouterText a{
  color: #000;
}