.dashboardMain {
  width: 100%;
  height: 100vh;
  background-color: #f8fafb;
  display: flex;
}
.dashboardNav {
  width: 8rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.dashboardNavContent {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.dashboardNavColumn {
  height: 80vh;
  width: 4rem;
  border-radius: 15px;
  background-color: #6f6af2;
  display: flex;
  justify-content: center;
}
.dashboardNavItemList {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dashboardNavItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}
.dashboardNavItemText p {
  font-weight: bold;
  color: #fff;
  font-size: 10px;
}
.dashboardNavItemText a:link {
  text-decoration: none;
}
.dashboardNavItemText a:hover {
  text-decoration: none;
}
.dashboardNavItemText a:visited {
  text-decoration: none;
}
.dashboardNavItemText a:active {
  text-decoration: none;
}

.dashboardContent {
  width: 100%;
  height: 100vh;
  padding: 2rem 2rem 2rem 0;
  box-sizing: border-box;
}
.productTypeContent {
  display: flex;
  justify-content: center;
  width: 100%;
}
.productTypeContentLeft {
  width: 15rem;
}
.productTypeContentRight {
  width: calc(100% - 15rem);
  margin-left: 1rem;
}
.confirmButtonNewType {
  margin: 0.5rem 0;
}
.dashboardNavLogoutItem {
  position: absolute;
  bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productTypeItem {
  background-color: #fff;
  padding: 0.6rem 0.6rem 0.6em 1.4rem;
  border-radius: 5px;
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productTypeItem:hover {
  transition: 0.3s linear all;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(28, 25, 82, 0.15) 0px 0px 0px 1px;
}
.productTypeItemNameText {
  font-size: 14px;
  color: #1c1952;
}
.hoverIconColor {
  padding: 3px;
}
.productTypeItemAction {
  display: flex;
}
.productTypeActionIconDelete:hover .hoverIconColor {
  cursor: pointer;
  transition: 0.2s linear all;
  padding: 3px;
  color: #e04a4a;
  border-radius: 50%;
  box-shadow: rgba(230, 108, 108, 0.02) 0px 1px 3px 0px,
    rgba(180, 85, 85, 0.15) 0px 0px 0px 1px;
}
.productTypeActionIconEdit:hover .hoverIconColor {
  cursor: pointer;
  transition: 0.2s linear all;
  padding: 3px;
  color: rgb(111, 106, 242);
  border-radius: 50%;
  box-shadow: rgba(111, 106, 242, 0.02) 0px 1px 3px 0px,
    rgba(111, 106, 242, 0.15) 0px 0px 0px 1px;
}

.productTypeItemActive {
  border: 1px solid #6f6af2;
}
.imageInputTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageInputTitle p {
  font-weight: bold;
  font-size: 14px;
  margin-left: 3px;
}
.inputBox {
  padding: 1rem 0;
}
.accountSettingInputUpload {
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 5px;
  color: #848484;
  display: flex;
  padding: 0.4rem 1rem;
}
.inputSetting {
  display: none;
}
.productImagePreview img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 5px;
}
.productImagePreview {
  margin-bottom: 1rem;
  position: relative;
}

.createProductBox {
  display: flex;
  width: 30rem;
  justify-content: space-between;
}
.createProductInputBox {
  width: 50%;
}
.createProductPreviewBox {
  width: 40%;
}
