.footer {
  margin-top: 3rem;
  width: 100%;
  height: auto;
  background-color: #f3f6f5;
}
.footerTitle p {
  font-weight: bold;
  font-size: 24px;
  color: #f3f6f5;
  padding: 1rem 4rem;
}
.footerTitle {
  background-color: #239361;
  display: inline-block;
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  filter: drop-shadow(0px 0px 12px #339468c5);
}
.mainFooter {
  position: relative;
}
.footerSubTitle {
  padding-top: 5rem;
}
.footerSubTitle p {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: #555555;
}
.footerInfoBox {
  display: flex;
  width: 100%;
}
.footerMainInfo,
.footerSubInfo {
  width: 50%;
  padding: 2rem 0;
}
.footerMainInfo p {
  font-weight: bold;
  color: #555555;
  font-size: 14px;
  line-height: 25px;
}
.footerSubInfo {
  display: flex;
  flex-wrap: wrap;
}
.footerSubInfoContent {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.footerSubInfoContent p {
  color: #555555;
  font-size: 14px;
}
.footerSubInfoIcon {
  margin-right: 5px;
}
.footerSocialMedia {
  display: flex;
  justify-content: center;
}
.footerSocialMediaIcons {
  display: flex;
}
.footerSocialMediaIcon {
  padding: 0 1rem;
}
.footerSocialMediaTitle {
  text-align: center;
  padding: 1rem 0;
  font-size: 12px;
  font-weight: bold;
  color: #555555;
}
.footerCenterText {
  color: #555555;
  text-align: center;
  margin-top: 1rem;
  font-size: 14px;
  font-weight: bold;
  color: #555555;
}
.copyWrite {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
